.logo-wrapper,
.logo-wrapper-mounted {
  width: max-content;
  max-width: 100px;
  transition: var(--custom-transition);
}
.logo-wrapper svg,
.logo-wrapper-mounted svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  fill: none;
  user-select: none;
}
.logo-wrapper-mounted {
  opacity: 1;
}
.logo-wrapper {
  opacity: 0;
}
