@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --custom-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --nav-menu-transition: all 0.35s cubic-bezier(0.645, 0.6, 0.355, 0.3);
  --menu-icon-width: 25px;
  --button-box-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --button-box-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --button-box-after: bottom 0.1s ease-in 0.25s,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --button-box-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  --gray: #5f6369;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
